html,
body {
  font-family: arial;
  text-align: center;
  color: black;  
  background-color: white;
}
h1 {
  font-family: arial;
color: red;
}
p {
  font-family: arial;
  color: black;
  background-color: grey;
}



